/* Author: Suprie Jain;
Theme: Food Order Website Admin;
Version: 1.0; */

*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    /* border: 1px solid black; */
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
    
}
.tbl-30{
    align-items: center;
   
   
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
    
}
table tr td{
    padding: 1%;
    
}
.btn-primary{
    background-color: #1e90ff;
    border-radius: 4px;
    border-style: none;
    padding:1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}
.btn-secondary{
    background-color: #42c21b;
    padding:1%;
    border-radius: 4px;
    border-style: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #359c15;
}
.btn-danger{
    background-color: rgb(235, 36, 36);
    padding:1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color:rgb(189, 30, 30);
}
.success{
    color: #359c15;
}
.fail{
    color: red;
}
/* css for menu */
.menu{
    border-bottom: 1px solid gray;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff4757;
}
.menu ul li a:hover{
    color: #c97078;
}

/* css for main */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}
.col-4{
    width: 18%;
    background-color: white;
    padding:2%;
    margin: 1%;
    float: left;
}

/* css for footer */
.footer{
    background-color: #ff4757;
    color: white;
}

.login{
    border: none;
    width:  20%;
    margin: 10% auto;
    padding: 2%;
    background-color:white;
    
    

}